@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
}

body {
    background-image: url(https://images.pexels.com/photos/21014/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

form input {
    color: white;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
    background-color: black;
}

h2, a {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

#queries li {
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

a:hover {
    color: black;
}

.left {
    float: left;
}