@charset "UTF-8";

h1 {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
}

body {
    background-image: url(https://images.pexels.com/photos/21014/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

form {
    text-align: center;
}

form input {
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    font-size: 24px;
    padding: 10px;
    background-color: black;
}

h2, a {
    color: white;
    font-weight: bolder;
    font-size: x-large;
}